<div class="container">
    {{#each posts}}
    <div class="media">
        <img class="mr-3 post-user-pic" src="{{user.image}}">
        <div class="media-body">
            <h3 class="mt-0">{{user.fullname}}</h3>
            <h4>{{title}} <i class="fa fa-globe"></i> </h4>
            <p>{{body}}</p>
            <small>{{date}}</small>
            <br>
            {{#if allowComments}}
            {{#each comment}}
            <div class="media mt-3">
                <a class="pr-3" href="#">
                    <img id="comment-user-picture" src="{{commentUser.image}}">
                </a>
                <div class="media-body">
                    <h5 class="mt-0">{{commentUser.fullname}}</h5>
                    <p>{{commentBody}}</p>
                    <small> {{commentDate}}</small>
                </div>
            </div>
            {{/each}}
            <br>

            <form action="/addComment/{{_id}}" method="POST" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" name="commentBody" class="form-control" placeholder="Leave Comment">
                </div>
                <button type="submit" class="btn btn-primary mb-2">
                    <i class="fa fa-comment"></i>
                </button>
            </form>
            {{else}}
            <p style="color:red;">Comments Disabled</p>
            {{/if}}
        </div>
    </div>
    <hr>
    {{else}}
    <p>No Posts Found</p>
    {{/each}}
</div>